* {
	/* font-family: "Roboto", sans-serif; */
	font-family: "JetBrains Mono", monospace;
}
body {
	margin: 0;
	height: 100%;
}

/* Tab for content */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: white !important;
	background-color: #2994a7 !important;
	margin: 5px !important;
	padding: 10px !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
	color: white !important;
	margin: 5px !important;
	padding: 10px !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover:not(.active) {
	background-color: white !important;
	color: #2994a7 !important;
	margin: 5px !important;
	padding: 10px !important;
}

.contenttab {
	background-color: rgb(16, 16, 71) !important;
}

.pointer {
	cursor: pointer;
}
#nav-dropdown {
	color: white;
	font-weight: bold;
	background-color: rgb(19, 19, 148);
}

#logoutHover:hover {
	background-color: white;
	color: #2994a7 !important;
}

/* Side Bar Navigation */

.sidebar {
	margin: 0;
	padding: 0;
	width: 250px;
	background-color: rgb(16, 16, 71);
	position: fixed;
	height: 100vh;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #2994a7;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: white;
	color: #2994a7 !important;
}

div.content {
	margin-left: 235px;
	padding: 0px 16px;
}

/* Style the sidenav links and the dropdown button */

.dropdown-btn {
	padding: 16px;
	text-decoration: none;
	font-size: 14px;
	color: white;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
	color: #f1f1f1;
}
.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
		padding: 10px 0px 0px 0px;
	}
}

@media screen and (max-width: 620px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

/* Styling Documents Upload */
.file {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

.file-input label {
	display: block;
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background: linear-gradient(40deg, #ff6ec4, #7873f5);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: transform 0.2s ease-out;
}

input:hover + label,
input:focus + label {
	transform: scale(1.02);
}

/* Adding youtube links */

.textInputField {
	border: none !important;
	border-radius: 10px !important;
	background: linear-gradient(40deg, #ff6ec4, #7873f5);
	height: 40px !important;
	color: white !important;
}

.textInputField::placeholder {
	color: white !important;
	font-size: 15px !important;
}

/* Adding an outline to the label on focus */
input:focus + label {
	outline: 1px solid #000;
	outline: -webkit-focus-ring-color auto 2px;
}

/* Top image for any pages */

.regImg {
	background-image: url("../images/coming.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 200px;
	margin: 10px 0px !important;
}

/* Submit Button */
.submitBtn {
	background-color: #c2fbd7;
	border-radius: 100px;
	box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px
			inset,
		rgba(44, 187, 99, 0.15) 0 1px 2px,
		rgba(44, 187, 99, 0.15) 0 2px 4px,
		rgba(44, 187, 99, 0.15) 0 4px 8px,
		rgba(44, 187, 99, 0.15) 0 8px 16px,
		rgba(44, 187, 99, 0.15) 0 16px 32px;
	color: green;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular, -apple-system, system-ui,
		Roboto, sans-serif;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.submitBtn:hover {
	box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px
			inset,
		rgba(44, 187, 99, 0.25) 0 1px 2px,
		rgba(44, 187, 99, 0.25) 0 2px 4px,
		rgba(44, 187, 99, 0.25) 0 4px 8px,
		rgba(44, 187, 99, 0.25) 0 8px 16px,
		rgba(44, 187, 99, 0.25) 0 16px 32px;
	transform: scale(1.05) rotate(-1deg);
}
